# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Yarn
node_modules/
dist/
.yarn/cache
.yarn/unplugged
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env.*
